@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
html {
  font-family: "Cabin", sans-serif; }

p {
  color: #7E793A;
  font-weight: 400; }

a {
  text-decoration: none; }

header {
  height: 100px;
  min-width: 100%;
  background: linear-gradient(130deg, #F4D2B8, #f7e6d9);
  border-bottom: 1px solid gray; }
  header a {
    height: 100%; }
    header a img {
      height: 100%;
      width: auto; }
  header nav {
    height: 100%;
    padding: 0.1rem 0rem 0.1rem 0.1rem; }
    header nav .nav {
      width: fit-content;
      float: right;
      margin: 0; }
    header nav #navbarNavDropdown {
      position: absolute;
      right: 0px;
      top: 99px;
      border-bottom-left-radius: 10px;
      background: #f7e6d9;
      border-bottom: 1px solid gray;
      border-left: 1px solid gray; }
    header nav ul {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center; }
      header nav ul .nav-link {
        color: gray; }

@media (min-width: 992px) {
  header nav #navbarNavDropdown {
    background: none;
    border: none;
    position: absolute;
    top: 35px;
    right: 0px; }
  header nav .nav-link {
    font-size: 20px; } }

@media (min-width: 1200px) {
  header nav .nav-link {
    font-size: 22px; } }

footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: linear-gradient(130deg, #f7e6d9, #F4D2B8);
  border-top: 1px solid gray;
  flex-direction: row-reverse; }
  footer a {
    margin: 0px 7px;
    height: 100%; }
    footer a img {
      height: 100%; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  margin-bottom: 50px; }

#gridInicio {
  margin-bottom: 60px;
  width: 100%;
  display: grid;
  grid-template-areas: "frase" "columnaIzquierda" "columnaDerecha";
  justify-items: center; }
  #gridInicio #frase {
    grid-area: frase;
    margin-top: 45px;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/312839/pexels-photo-312839.jpeg?cs=srgb&dl=pexels-nandhu-kumar-312839.jpg&fm=jpg);
    background-size: 100% 100%; }
    #gridInicio #frase .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.2); }
      #gridInicio #frase .overlay h2 {
        color: white;
        text-align: center;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold; }
  #gridInicio .columna {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; }
    #gridInicio .columna p {
      margin-bottom: 5px;
      text-align: center; }
    #gridInicio .columna .boton {
      background: #71B7A6;
      border-radius: 20px;
      border: 5px solid #71B7A6;
      transform: scale(1);
      transition: transform 0.1s; }
      #gridInicio .columna .boton:hover {
        transform: scale(1.1);
        transition: transform 0.2s; }
      #gridInicio .columna .boton a {
        color: white; }
  #gridInicio #columnaIzquierda {
    grid-area: columnaIzquierda; }
  #gridInicio #columnaDerecha {
    grid-area: columnaDerecha; }

@media (min-width: 768px) {
  #gridInicio {
    grid-template-areas: "frase frase" "columnaIzquierda columnaDerecha"; }
    #gridInicio #frase {
      height: 300px; }
      #gridInicio #frase .overlay h2 {
        font-size: 22px; }
    #gridInicio p {
      font-size: 18px; } }

@media (min-width: 992px) {
  #gridInicio #frase .overlay h2 {
    font-size: 28px; } }

@media (min-width: 1200px) {
  #gridInicio #frase {
    height: 450px; } }

table {
  width: 95%;
  color: #7E793A;
  border: 2px solid gray;
  border-bottom: 2px solid gray;
  margin-bottom: 15px; }
  table .eje {
    font-weight: bold; }
  table td {
    border: 1px solid gray; }

#carouselServicio {
  width: 90%; }
  #carouselServicio .carousel-inner {
    max-height: 300px; }

@media (min-width: 600px) {
  #carouselServicio .carousel-inner {
    max-height: 400px; } }

@media (min-width: 992px) {
  #carouselServicio {
    width: 700px; }
    #carouselServicio .carousel-inner {
      max-height: 600px; } }

.comentarios {
  width: 95%; }
  .comentarios .comentario {
    border: 1px solid gray;
    border-radius: 5px; }
    .comentarios .comentario h3 {
      text-decoration: underline;
      font-size: 20px;
      color: gray; }
    .comentarios .comentario h5 {
      font-size: 12px;
      float: right;
      display: inline; }
    .comentarios .comentario p {
      margin: 0;
      display: inline; }
  .comentarios #formularioComentario h2 {
    color: gray; }
  .comentarios #formularioComentario .input-group {
    margin: 15px 0;
    border-radius: 10px;
    z-index: 0; }
    .comentarios #formularioComentario .input-group .nombre {
      margin: 0 1px; }
    .comentarios #formularioComentario .input-group textarea {
      min-height: 100px; }
  .comentarios #formularioComentario .input-group-text {
    background: #71B7A6; }
  .comentarios #formularioComentario .form-control {
    background: #EDE6D9; }

#formularioContacto .input-group {
  margin: 15px 0;
  border-radius: 10px;
  z-index: 0; }
  #formularioContacto .input-group .nombre {
    margin: 0 1px; }
  #formularioContacto .input-group textarea {
    min-height: 100px; }

#formularioContacto .input-group-text {
  background: #71B7A6; }

#formularioContacto .form-control {
  background: #EDE6D9; }

#acercaDeMi {
  margin: 10px; }
  #acercaDeMi a {
    color: #7E793A; }

body {
  background: #f2e7d2;
  max-width: 100vw; }

.titulo {
  color: #5C5C5C; }
