@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
html {
  font-family: "Cabin", sans-serif; }

p {
  color: #7E793A;
  font-weight: 400; }

a {
  text-decoration: none; }

.header {
  height: 100px;
  min-width: 100%;
  background: linear-gradient(130deg, #F4D2B8, #f7e6d9);
  border-bottom: 1px solid gray; }
  .header__logo-link {
    height: 100%; }
  .header__logo-img {
    height: 100%; }
  .header__nav {
    height: 100%;
    padding: 0.1rem 0rem 0.1rem 0.1rem; }
  .header__container {
    width: fit-content;
    float: right;
    margin: 0; }
  .header__colapsable {
    position: absolute;
    right: 0px;
    top: 99px;
    border-bottom-left-radius: 10px;
    background: #f7e6d9;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray; }
  .header__lista {
    height: 100%;
    padding-left: 3px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .header__item {
    width: fit-content; }
  .header__link {
    padding: 4px;
    color: gray; }
    .header__link:hover {
      color: gray;
      filter: saturate(1.2); }
    .header__link--active {
      color: #333333; }
      .header__link--active:hover {
        color: #333333;
        filter: saturate(1.2); }

@media (min-width: 992px) {
  header nav #navbarNavDropdown {
    background: none;
    border: none;
    position: absolute;
    top: 35px;
    right: 0px; }
  header nav .nav-link {
    font-size: 20px; } }

@media (min-width: 1200px) {
  header nav .nav-link {
    font-size: 22px; } }

.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: linear-gradient(130deg, #f7e6d9, #F4D2B8);
  border-top: 1px solid gray;
  flex-direction: row-reverse; }
  .footer__link {
    margin: 0px 7px;
    height: 100%; }
  .footer__img {
    height: 45px;
    transition: height 0.1s; }
    .footer__img:hover {
      height: 50px;
      transition: height 0.1s; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  margin-bottom: 50px; }

.inicio {
  margin-bottom: 60px;
  width: 100%;
  display: grid;
  grid-template-areas: "frase" "columnaIzquierda" "columnaDerecha";
  justify-items: center; }
  .inicio__imagen {
    grid-area: frase;
    margin-top: 45px;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    background-image: url(https://images.pexels.com/photos/312839/pexels-photo-312839.jpeg?cs=srgb&dl=pexels-nandhu-kumar-312839.jpg&fm=jpg);
    background-size: 100% 100%; }
  .inicio__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2); }
  .inicio__frase {
    color: white;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold; }
  .inicio__card {
    border-radius: 10px;
    background: radial-gradient(#f7e6d9, #F4D2B8);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px; }
  .inicio__texto {
    margin-bottom: 5px;
    text-align: center; }
  .inicio__boton {
    width: 285px;
    text-align: center;
    color: #f7e6d9;
    background: #7E793A;
    border-radius: 20px;
    border: 5px solid #7E793A;
    transform: scale(1);
    transition: transform 0.1s; }
    .inicio__boton:hover {
      color: white;
      filter: saturate(1.2);
      transform: scale(1.1);
      transition: transform 0.2s; }
  .inicio__card--izquierda {
    grid-area: columnaIzquierda; }
  .iniciocard__derecha {
    grid-area: columnaDerecha; }

@media (min-width: 480px) {
  .inicio__boton {
    width: 400px; } }

@media (min-width: 768px) {
  .inicio {
    grid-template-areas: "frase frase" "columnaIzquierda columnaDerecha"; }
    .inicio__imagen {
      height: 300px; }
    .inicio__frase {
      font-size: 22px; }
    .inicio__texto {
      font-size: 18px; }
    .inicio__boton {
      width: 330px; } }

@media (min-width: 992px) {
  .inicio__frase {
    font-size: 28px; }
  .inicio__boton {
    width: 440px; } }

@media (min-width: 1200px) {
  .inicio__imagen {
    height: 450px; }
  .inicio__boton {
    width: 520px; } }

.servicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .servicio__card {
    margin: 15px;
    width: 95%;
    padding: 10px;
    border-radius: 15px;
    background: radial-gradient(#f7e6d9, #F4D2B8); }
  .servicio__subtitulo {
    text-align: center; }
  .servicio__lista {
    color: #7E793A; }
  .servicio__carousel {
    width: 90%; }
  .servicio__inner {
    max-height: 300px; }
  @media (min-width: 600px) {
    .servicio .servicio__carousel {
      width: 550px; }
    .servicio .servicio__inner {
      max-height: 400px; } }
  @media (min-width: 992px) {
    .servicio .servicio__carousel {
      width: 850px; }
    .servicio .servicio__inner {
      max-height: 600px; } }

.comentarios {
  width: 95%; }
  .comentarios__titulo {
    text-align: center; }
  .comentarios__sin-comentarios {
    font-size: 20px; }
  .comentarios__comentario {
    padding: 5px;
    overflow: scroll;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    display: none; }
  .comentarios__nombre {
    font-size: 20px;
    color: #7E793A; }
  .comentarios__fecha {
    font-size: 12px;
    color: #7E793A;
    float: right;
    display: inline; }
  .comentarios__mensaje {
    max-width: 100%;
    display: inline-block;
    margin: 0;
    display: inline; }

.formulario-comentarios {
  width: 95%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  background: radial-gradient(#f7e6d9, #F4D2B8); }
  .formulario-comentarios__titulo {
    color: gray; }
  .formulario-comentarios__casillero {
    border-radius: 15px;
    margin: 15px 0;
    border-radius: 10px;
    z-index: 0; }
  .formulario-comentarios__nombre {
    background: #EDE6D9;
    border-radius: 15px;
    margin: 0 1px; }
  .formulario-comentarios__apellido {
    background: #EDE6D9;
    border-radius: 15px;
    margin: 0 1px; }
  .formulario-comentarios__campo {
    border-radius: 15px;
    background: #EDE6D9;
    min-height: 100px; }
  .formulario-comentarios__etiqueta {
    border-radius: 15px;
    background: #71B7A6; }

.contacto__formulario {
  width: 95%;
  border-radius: 15px;
  padding: 10px;
  background: radial-gradient(#f7e6d9, #F4D2B8); }

.contacto__saludo {
  color: gray; }

.contacto__input {
  margin: 15px 0;
  border-radius: 15px;
  z-index: 0; }
  .contacto__input .nombre {
    margin: 0 1px; }
  .contacto__input textarea {
    min-height: 100px; }

.contacto__etiqueta {
  border-radius: 15px;
  background: #71B7A6; }

.contacto__campo {
  border-radius: 15px;
  background: #EDE6D9; }

#acercaDeMi {
  margin: 10px; }
  #acercaDeMi a {
    color: #7E793A; }

body {
  background: #f2e7d2;
  max-width: 100vw; }

.titulo {
  color: #5C5C5C; }
