$fondo:#f2e7d2;
$header-arriba:#F4D2B8;
$header-abajo:#f7e6d9;
$letra: #7E793A;
$logo: #71B7A6;
$titulos:#5C5C5C;
$header:linear-gradient(130deg, $header-arriba,$header-abajo);
$footer:linear-gradient(130deg, $header-abajo,$header-arriba);