.footer{
    display:flex;
    position:fixed;
    bottom:0px;
    width:100%;
    height:50px;
    background: $footer;
    border-top: 1px solid gray;
    flex-direction:row-reverse;
    &__link{
        margin:0px 7px;
        height:100%;
    }
    &__img{
        height:45px;
        transition: height 0.1s;
        &:hover{
            height:50px;
            transition: height 0.1s;
        }
    }
}