footer{
    display:flex;
    position:fixed;
    bottom:0px;
    width:100%;
    height:50px;
    background: $footer;
    border-top: 1px solid gray;
    flex-direction:row-reverse;
    a{
        margin:0px 7px;
        height:100%;
        img{
            height:100%;
        }
    }
}