header{
    height: 100px;
    min-width: 100%;
    background:$header;
    border-bottom:1px solid gray;  
    a{
        height: 100%;
        img{
            height: 100%;
            width: auto;
        }
    }
    nav{
        height: 100%;
        padding: 0.1rem 0rem 0.1rem 0.1rem;
        .nav{
            width:fit-content;
            float:right;
            margin:0;
        }
        #navbarNavDropdown{
            position:absolute;
            right: 0px;
            top:99px;
            border-bottom-left-radius: 10px;
            background:$header-abajo;
            border-bottom:1px solid gray;
            border-left:1px solid gray;
        }  
        ul{
            height: 100%;
            list-style: none;
            display:flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            .nav-link{
                color:gray;
            }  
        } 
    } 
}

@media(min-width:992px){
    header{
        nav{
            #navbarNavDropdown{
                background:none;
                border:none;
                position:absolute;
                top:35px;
                right:0px;
            }
           .nav-link{
               font-size: 20px;
           }
        }
    }
}

@media(min-width:1200px){
    header{
        nav{
            .nav-link{
                font-size:22px;
            }
        }
    }
}