.header{
    height: 100px;
    min-width: 100%;
    background:$header;
    border-bottom:1px solid gray;  
    &__logo-link{
        height: 100%;
    }
    &__logo-img{
        height:100%;
    }
    &__nav{
        height: 100%;
        padding: 0.1rem 0rem 0.1rem 0.1rem;
    }

    &__container{
        width:fit-content;
        float:right;
        margin:0;
    }
    &__colapsable{
        position:absolute;
        right: 0px;
        top:99px;
        border-bottom-left-radius: 10px;
        background:$header-abajo;
        border-bottom:1px solid gray;
        border-left:1px solid gray;
    }  
    &__lista{
        height: 100%;
        padding-left:3px;
        list-style: none;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    &__item{
        width:fit-content;
    }
    &__link{
        padding:4px;
        color:gray;
        &--active{
            color:#333333;
        }
    }  
 
} 


@media(min-width:992px){
    header{
        nav{
            #navbarNavDropdown{
                background:none;
                border:none;
                position:absolute;
                top:35px;
                right:0px;
            }
           .nav-link{
               font-size: 20px;
           }
        }
    }
}

@media(min-width:1200px){
    header{
        nav{
            .nav-link{
                font-size:22px;
            }
        }
    }
}