table{
    width:95%;
    color:$letra;
    border:2px solid gray;
    border-bottom:2px solid gray;
    margin-bottom:15px;
    .eje{
        font-weight:bold;
    }
    td{
        border:1px solid gray;
    }
}
#carouselServicio{
    width:90%;
    .carousel-inner{
        max-height:300px;
    }
}
@media(min-width:600px){
   #carouselServicio{
       .carousel-inner{
           max-height: 400px;
       }
   }
}
@media(min-width:992px){
    #carouselServicio{
        width:700px;
        .carousel-inner{
            max-height: 600px;
        }
    }
}