.servicio{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    &__card{
        margin:15px;
        width:95%;
        padding:10px;
        border-radius: 15px;
        background: radial-gradient($header-abajo,$header-arriba);
    }
    &__subtitulo{
        text-align: center;
    }
    &__lista{
        color:$letra;
    }
    &__carousel{
        width:90%;
    }
    &__inner{
        max-height:300px;
    }
    @media(min-width:600px){
       .servicio{
           &__carousel{
               width: 550px;
           }
           &__inner{
               max-height: 400px;
           }
       }
    }
    @media(min-width:992px){
        .servicio{
            &__carousel{
                width:850px;
            }
            &__inner{
                max-height: 600px;
            }
        }
    }
}